.list-tab {
  list-style-type: none;
}
.tab-name {
  color: #7b8794;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #dfe2e5;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
.active-tab {
  color: #2563eb;
  border-bottom: 3px solid #2563eb;
}
